body {
    width: 100%;
    height: 100%;
    font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: #000;
    overflow-x: hidden;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255, 255, 255, .8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255, 255, 255, .3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        background: #464646;
    }
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .intro .intro-body .brand-heading {
        font-size: 100px;
    }
    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background-color: #74AFAD;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: -19px;
}

@media(min-width:767px) {
    .download-section {
        padding: 100px 0;
    }
    #map {
        height: 400px;
    }
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 20px 0;
    text-align: center;
}

footer p {
    padding-right: 0px;
    margin: 0 auto;
    text-align: center;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, .2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255, 255, 255, .2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255, 255, 255, .2);
}

header.carousel {
    height: 100%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.lol {
    height: 100%;
    width: 100%;
}

#about {
    background-color: #464646;
    width: 100%;
    padding-bottom: 80px;
    padding-top: 25px;
}

#about1 {
    background-color: #999;
    width: 100%;
    padding-bottom: 80px;
}

.portfolio-item {
    padding-top: 40px;
    margin-bottom: 25px;
}

.box {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    font-size: 35px;
}

.content {
    padding-top: 20px;
}

i {
    color: #fff;
}

.effext-oscar img {
    max-width: 250px;
}

.box1 {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 48px;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'feathericons';
    src: url('../fonts/feathericons/feathericons.eot?-8is7zf');
    src: url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'), url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'), url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'), url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}


/* Common style */

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 300px;
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 300px;
    max-width: 300px;
    opacity: 0.5;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
}

.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 250px;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0 auto;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 80%;
}


/*///////////////////////////////////////////////////////////////////////////////*/


/*///////////////////////////////////////////////////////////////////////////////*/


/*///////////////////////////////////////////////////////////////////////////////*/

figure.effect-bubba {
    background: #9e5406;
}

figure.effect-bubba img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
    opacity: 0.3;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
}

figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
}

figure.effect-bubba h2 {
    padding-top: 30%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
}

figure.effect-bubba p {
    padding: 20px 2.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/*----------------------------------------------------*/


/*----------------------------------------------------*/


/*----------------------------------------------------*/


/*----------------------------------------------------*/


/*----------------------------------------------------*/

.grid1 h2 {
    font-size: 22px;
}

.grid1 figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 250px;
    max-width: 250px;
    max-height: 250px;
    width: 250px;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid1 figure img {
    position: relative;
    display: block;
    min-height: 250px;
    max-width: 250px;
    opacity: 0.5;
}

.grid1 figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid1 figure figcaption::before,
.grid1 figure figcaption::after {
    pointer-events: none;
}

.grid1 figure figcaption,
.grid1 figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 255px;
}

.grid1 figure figcaption > a {
    z-index: 1000;
    text-indent: 250px;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid1 figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid1 figure h2 span {
    font-weight: 800;
}

.grid1 figure h2,
.grid1 figure p {
    margin: 0 auto;
}

.grid1 figure p {
    letter-spacing: 1px;
    font-size: 100%;
}


/*---------------*/


/*////////////////////////////////////////////////////////////////////////////////*/


/*---------------*/

figure.effect-oscar {
    background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
    background: linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
}

figure.effect-oscar img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
    padding: 3em;
    background-color: rgba(58, 52, 42, 0.7);
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
}

figure.effect-oscar h2 {
    margin: 20% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

figure.effect-oscar:hover h2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-oscar:hover figcaption {
    background-color: rgba(58, 52, 42, 0);
}

figure.effect-oscar:hover img {
    opacity: 0.4;
}

.box .row {
    padding-right: 50px;
}

.box1 .row {
    padding-right: 50px;
}

.container2 {
    padding-top: 80px;
    padding-bottom: 50px;
}

#contact h2 {
    text-align: center;
    padding-right: 8px;
}

.box2 {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 48px;
}

#container {
    height: 20%;
}

.carousel-inner h2 {
    font-size: 60px;
    color: #F900;
}

.carousel-inner p {
    color: #FFEF00;
    font-family: Montserrat;
}

#contact .subfooter i {
    color: #fff;
}

.box1 h1 {
    font-size: 50px;
    font-weight: bold;
}

.box h1 {
    font-size: 50px;
    font-weight: bold;
}

.contact1 p {
    font-size: 25px;
    padding-right: 60px;
}


}
.subfooter {
    margin-bottom: 40px;
    padding-bottom: 40px;
}

}
.contact1 p {
    font-size: 22px;
    padding-right: 60px;
}
i:hover {
    opacity: 0.8;
    -webkit-transition: 0.3s all ease;
    -mozkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
.contact1 p {
    margin: 0 auto;
}
.subfooter p {
    margin: 0 auto;
    padding-left: 39%;
    margin-bottom: 20px;
}
footer {
    background-color: #464646;
}
#contact {
    background-color: #464646;
}

/* THE END*/
